  body{
    background-color: gray;
  }
  .contenedor {
    background-color: black;
    width: 210px;
    height: 560px;
    margin: auto;
    margin-top: 20px;
    padding: 7px;
    border-radius: 30px;
  }
  .light{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    padding: 10px;
    &.red { background-color: red; margin: 20px;}
    &.yellow {background-color: yellow; margin: 20px;}
    &.green { background-color: green; margin: 20px;}
    &.selected{box-shadow: white 0px 0px 50px 5px;}
  }